.wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #55833D;
    position: absolute;
    bottom: 0;


}

.inner {
    height: 100%;
    width: 1062px;
    background-color: #55833D;
}