.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border: 50%;
}

.wrapper {
    width: 100%;
}

.imageDetail {
    min-width: 380px;
    height: 340px;
}

.Product {
    width: 150px;
    height: 200px;
}

.ItemCategory {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.Avatar {
    width: 150px;
    height: 150px;
    border-radius: 999px;
    padding: 10px;
    border: 2px solid #99b689;
}

.AvatarSmall {
    width: 70px;
    height: 70px;
    border-radius: 999px;
    padding: 5px;
    border: 2px solid #99b689;
}

.AvatarComment {
    width: 40px;
    height: 40px;
    border-radius: 999px;

    border: 2px solid #99b689;
}

.ProductAdmin {
    width: 100px;
}

.imageSmall {
    padding: 5px;
    width: 70px;
    height: 80px;
    // border: 1px solid gray;
    margin-right: 5px;
}

.Small,
.livechat {
    width: 50px;
}

.imageSmallChecked {
    border: 1px solid gray;
}

.noOrder {
    height: 200px;
    width: 200px;
    margin: 30px 0;
}

.imageOrderList {

    height: 60px;
    width: auto;
    background-color: transparent;
    // border: 1px solid gray;
    // padding: 5px;
}

.logo {
    height: 60px;

    width: 150px;
}

.Total {
    width: 60px;
}

.test {
    height: 550px;
}

.HDSD {
    // width: 500px;
}