.price {
    width: 200px;
    /* Chiều rộng của container */
    height: 20px;
    /* Chiều cao của container */

    /* Đường viền để hiển thị kích thước của container */

    /* Thiết lập các thuộc tính để chữ không bị tràn ra ngoài */
    overflow: hidden;
    /* Không hiển thị phần chữ tràn ra ngoài container */
    white-space: nowrap;
    /* Không ngắt dòng cho chữ */
    text-overflow: ellipsis;
    z-index: 9999999999;
    margin: 10px 0;
    font-size: 20px;
    /* Hiển thị dấu chấm ba (...) cho phần chữ bị tràn ra */
}

p {
    font-size: 16px;

}

.image {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 10px;
}

.sale {
    position: absolute;
    left: 0;
    top: 0;
}

.wrapper {
    padding: 5px;
}
.old-price {
    text-decoration: line-through;

}
