.activeHomee {
    background-color: #8CC342;



    span {
        color: white;
    }

}

.activeHome {
    span {
        align-items: center;
        justify-content: center;
    }
}

.menuAccountItem {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: #333;

}



.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;



}



.active {
    background-color: rgba(22, 24, 35, 0.06);

    &:hover {
        background-color: rgba(22, 24, 35, 0.09);
    }
}

.activeAdmin {
    background-color: rgba(140, 195, 66, 15%);
    border-right: 3px solid rgba(140, 195, 66, 30%);

    &:hover {
        background-color: rgba(140, 195, 66, 15%);
    }

    .icon-admin {
        color: rgba(140, 195, 66, 100%);
    }
}

.icon,
.icon-admin {
    padding: 20px;
}

.menuAccount {
    justify-content: flex-start !important;

}

.admin:hover {
    background-color: rgba(140, 195, 66, 5%)
}

.admin:hover .icon {
    // background-color: rgba(22, 24, 35, 0.03);

}