.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: #F5F5FA;

}

.inner {
    width: var(--default-layout-wight);
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;

    margin: 30px 0;
}

.container {
    padding: 0 30px;
}