.wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #55833D;


    position: sticky;
    top: 80px;
    // position: relative;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    /* X, Y, Blur, Spread, Color */


}

.inner {
    height: 100%;
    width: var(--default-layout-wight);
    background-color: #55833D;

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        height: 100%;

        a {

            height: 100%;
            width: 100%;
            transition: background-color ease-in-out 100ms;

            &:hover {
                background-color: rgba(140, 195, 66, 20%);
            }
        }

        span {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center !important;
            height: 100%;
            color: white;
            font-weight: 700;
            width: 100%;
            flex: 1;

            &:hover {
                background-color: rgba(140, 195, 66, 20%);
            }
        }


    }
}