.wrapper {
    // width: var(--default-layout-wight);
    // margin-top: 50px;
    width: 100%;
    // border-right: 2px solid rgba(22, 24, 35, 0.09);

    // justify-content: center;
    // background-color: #55833D;
    padding-top: 90px;

    nav {
        width: 100%;
        display: flex;
        align-items: flex-start;
        align-content: center;
        justify-content: space-around;
        height: 100%;

        a {

            height: 100%;
            width: 100%;
            transition: background-color ease-in-out 100ms;

            &:hover {
                background-color: rgba(22, 24, 35, 0.03);
            }

            &:active {
                background-color: rgba(22, 24, 35, 0.0);
            }
        }

        span {
            display: flex;
            // align-items: center;
            // align-content: center;
            justify-content: flex-start;
            height: 100%;
            color: #333;
            font-weight: 700;
            width: 100%;
            flex: 1;
            padding: 10px;
            border-radius: 4px;

        }


    }


}

.inner {
    display: flex;
    flex-direction: column;
}


// &:hover {
//     background-color: rgba(140, 195, 66, 20%);
// }


.icon-user {
    color: gray;
    font-size: 35px;

    left: 0;

}

.name-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    // background-color: rgba(140, 195, 66, 15%);

    label {
        margin-left: 20px;
    }
}