.inner-no,
.inner {
    display: flex;
    // background-color: #F5F5FA;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.wrapper {}

.status {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
    // border-bottom: 1px solid gray;
}

.item {
    width: 100%;
    padding: 15px;
    background-color: #F5F5FA;
    margin-bottom: 20px;

    .content {
        padding: 15px 0;
    }


}

.content-item {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr;
}

.footer,
.action {
    display: flex;
    justify-content: flex-end;

}

.price {
    margin-right: 15px;
    font-weight: 500;

}