.wrapper {
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    min-height: 100px;
    max-height: min((100vh - 96px) - 60px, 734px);

    padding: 12px;
}

.popperUser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 300px;
    padding: 20px;
    min-height: 260px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    p {
        margin: 8px 0;
    }

}

.popperUserAccept {
    min-width: 200px;
    transition: 0.3;



}

.popperUserAccept ul {
    display: flex;
    flex-direction: column;
}