.wrapper {
    width: 250px;
    display: flex;
    flex-direction: row;

    align-items: center;
    border: 1px solid gray;
    border-radius: 999px;
    padding: 10px;

    &:hover {
        background-color: rgba(140, 195, 66, 0.8);
        border: 1px solid rgba(140, 195, 66, 0.8);
        transition: background-color 0.5s ease
    }

    h4 {
        margin-left: 5px;
    }
}